/* Start of thumbnail */
ol, ul {
    list-style-type: none;
}
/* shots-grid 
shot-thumbnail-container */
.thumbnail-container .thumbnail-base {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 75%;
    height: 0;
    cursor: pointer;
}
.thumbnail-placeholder {
    overflow: hidden;
    padding-bottom: 75%;
    height: 0;
    margin: 0;
    background-size: contain;
}
.thumbnail-placeholder img {
    width: 100%;
    height: auto;
    background-size: contain;
}

.thumbnail-maincontainer {
    padding: 1rem 50px;
    margin: auto;
}
.like-shot
.fa-heart {
    cursor: pointer;
}
.like-shot
.fa-heart:hover {
    color: red;
}