.search-input-container {
    max-width: 628px;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}
.search-input-with-dropdown {
    background: #fff;
    box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
    border-radius: 8px;
    height: 64px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.search-input-with-dropdown .left-side-wrapper {
    position: relative;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 28px;
}

.search-input-with-dropdown .search-icon {
    width: 16px;
    height: 16px;
    color: #9e9ea7;
}

.search-input-with-dropdown .search-input-form {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.text {
    position: absolute;
    opacity: 0;
    width: 0;
    overflow: hidden;
}

.search-input-with-dropdown .search-input {
    font-size: 16px;
    background: #fff;
    padding: 0;
    height: 100%;
    padding-left: 60px;
    padding-right: 24px;
    background: transparent;
    width: 100%;
    border: none;
}
.search-input-with-dropdown .vertical-divider {
    margin-right: 24px;
    width: 2px;
    background: #e7e7e9;
    height: 50%;
}
.search-input-with-dropdown .btn-dropdown {
    position: static;
    min-width: 84px;
    margin-right: 28px;
}

.search-input-with-dropdown .btn-dropdown .btn-dropdown-link {
    color: #0d0c22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 0;
}
.search-input-with-dropdown .btn-dropdown .btn-dropdown-link .btn-dropdown-caret {
    position: static;
    width: 14px;
    height: 14px;
    margin-left: 8px;
}
.btn-dropdown.open div.btn-dropdown-options {
    z-index: 2;
    display: block;
}
div.btn-dropdown-options ul {
    list-style: none;
    padding: 8px 0;
}
.btn-dropdown-link:hover {
    text-decoration: none;
    cursor: pointer;
}