body {
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.field input, .Login-btn {
    height: 50px; 
    width: 100%;
    border-radius: 10px;
}
.Login-btn {
    background: #ea4c89;
    color: white;
    border: none;
}
.Login-btn:hover {
    color: white !important;
    background: #f02070;
}
.error {
    color:red;
}

.Login-img-side {
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

main {
    margin: 0 auto;
    padding: 0 50px;
}
.Login-form {
    width: 100%;
    max-width: 416px;
    margin: auto;
    margin-top: 3rem;
}
.no-account {
    padding: 1rem 2rem;
    position: absolute;
    right: 2rem
}
.Login-background {
    background-image: url("../../images/login-bg.jpeg");
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

@media (max-width: 768px){
    .Login-form h3 {
        font-size: 32px;
        text-align: center;
        /* font-weight: 700;
        line-height: 56px; */
        color: white;
    }
    .no-account {
        color: white;
    }
    .no-account a {
        color: red;
    }
    .Login-img-side {
        filter: blur(8px);
    }
}
